<script setup lang="ts">
  import DataTable from "primevue/datatable";
  import Column from "primevue/column";
  import type { IUser } from "@/common/dataMock.utils";

  const props = defineProps<{
    items: IUser[];
  }>();

  const emit = defineEmits<{
    (e: "itemClick", item: IUser): void;
  }>();
</script>

<template>
  <div class="grid-resolutions-table">
    <DataTable
      :value="props.items"
      class="p-datatable-users"
      data-key="id"
      show-gridlines
      row-hover
      @row-click="({ data }) => emit('itemClick', data)"
    >
      <template #header>
        <div class="flex justify-content-between align-items-center">
          <h3 class="m-0">Пользователи</h3>
        </div>
      </template>
      <Column field="id">
        <template #header>
          <span>ID</span>
        </template>
        <template #body="{ data }">
          <span>{{ data.id }}</span>
        </template>
      </Column>
      <Column field="first-name">
        <template #header>
          <span>Имя</span>
        </template>
        <template #body="{ data }">
          <span>{{ data.firstName }}</span>
        </template>
      </Column>
      <Column field="last-name">
        <template #header>
          <span>Фамилия</span>
        </template>
        <template #body="{ data }">
          <span>{{ data.lastName }}</span>
        </template>
      </Column>
    </DataTable>
  </div>
</template>
