<script setup lang="ts">
  import Dialog from "primevue/dialog";
  import Button from "primevue/button";
  import InputText from "primevue/inputtext";
  import InputNumber from "primevue/inputnumber";
  import { ref, watch } from "vue";
  import type { IUser } from "@/common/dataMock.utils";
  import { jsonClone, setAsyncTimer } from "@/common/utils";
  import AppSpinner from "@/components/AppSpinner.vue";

  const modalId = "userModal";

  const props = defineProps<{
    visible?: boolean;
    item: IUser | null;
  }>();

  const localItem = ref<IUser | null>(jsonClone(props.item));
  const isUpdateRequestPending = ref(false);

  const emit = defineEmits<{
    (e: "update:visible", payload: boolean): void;
    (e: "update:item", payload: IUser): void;
  }>();

  watch(props, () => {
    localItem.value = jsonClone(props.item);
  });

  async function onSaveButtonClick() {
    if (!localItem.value) return;

    isUpdateRequestPending.value = true;

    await setAsyncTimer({ time: 2000 });

    isUpdateRequestPending.value = false;

    emit("update:item", localItem.value);
    emit("update:visible", false);
  }
</script>

<template>
  <Dialog
    :id="modalId"
    :visible="props.visible"
    :style="{ width: '50vw' }"
    :modal="true"
    header="Пользователь"
    class="user-modal"
    :close-on-escape="true"
    :dismissable-mask="true"
    @update:visible="emit('update:visible', $event)"
  >
    <AppSpinner v-if="isUpdateRequestPending" :to="'#' + modalId" />
    <form v-if="localItem">
      <div class="p-fluid">
        <div class="field">
          <label for="width-filed-id">Имя</label>
          <InputText id="width-filed-id" v-model="localItem.firstName" />
        </div>
        <div class="field">
          <label for="columns-filed-id">Фамилия</label>
          <InputText id="columns-filed-id" v-model="localItem.lastName" />
        </div>
        <div v-if="item && item.bookAmount" class="field">
          <label for="book-amount-filed-id">Кол-во книг</label>
          <InputNumber id="book-amount-filed-id" v-model="localItem.bookAmount" />
        </div>
      </div>
    </form>
    <template #footer>
      <Button label="Сохранить" class="p-button-outlined p-button-success" @click="onSaveButtonClick" />
      <Button label="Отменить" class="p-button-outlined p-button-danger" @click="emit('update:visible', false)" />
    </template>
  </Dialog>
</template>
