<script setup lang="ts">
  import { onMounted, ref } from "vue";
  import type { IUser } from "@/common/dataMock.utils";
  import { useDataMocks } from "@/common/dataMock.utils";
  import UsersTable from "@/components/user/UsersTable.vue";
  import UserModal from "@/components/user/UserModal.vue";
  import AppSpinner from "@/components/AppSpinner.vue";

  const { loadUserData, loadUsersData } = useDataMocks();

  const users = ref<IUser[]>([]);
  const isUsersRequestPending = ref(false);

  const user = ref<IUser | null>(null);
  const isUserRequestPending = ref(false);

  const isUserModalShown = ref(false);

  async function fetchUsers() {
    isUsersRequestPending.value = true;
    users.value = await loadUsersData();
    isUsersRequestPending.value = false;
  }

  async function fetchUser(payload: IUser) {
    isUserRequestPending.value = true;
    user.value = await loadUserData(payload);
    isUserRequestPending.value = false;
  }

  async function onItemClick(payload: IUser) {
    user.value = null;
    await fetchUser(payload);
    isUserModalShown.value = true;
  }

  onMounted(() => {
    fetchUsers();
  });
</script>

<template>
  <div class="page relative">
    <AppSpinner v-if="isUsersRequestPending || isUserRequestPending" fullscreen />
    <UsersTable :items="users" @item-click="onItemClick" />
    <UserModal v-model:visible="isUserModalShown" v-model:item="user" />
  </div>
</template>

<style scoped></style>
