<script setup lang="ts"></script>

<template>
  <header class="the-header absolute top-0 left-0 right-0 flex align-items-center p-3 surface-800 text-50">
    Developer's workshop
  </header>
</template>

<style lang="scss">
  .the-header {
    max-height: $header-height;
    height: $header-height;
    min-height: $header-height;
  }
</style>
